/* #bg-home {
        background-image: "/images/Home/bg-home.jpg";
       
} */
#home-bg {
        margin-top: -1rem
}

.home-buttons {
        width: 180px;
}

.intro {
        text-shadow: 2px 2px 4px #000000;
}
